
.section {
  height: 100vh;
}

p {
  font-family: Lato;
}

.current-section {
  background-color: cornflowerblue
}
.current-section::after {
  content: "\039e";
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
