<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>AGHD-Group</strong></a>
  </mdb-navbar-brand>

    <links class="collapse navbar-collapse" id="basicExampleNav">
      <ul mdbScrollSpy="scrollspy1" class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link fss-nav-item" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a  class="nav-link fss-nav-item" [routerLink]="['/about']">O nas</a>
          </li>

          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link fss-nav-item" [routerLink]="['/blog']">Blog</a>
         </li>

     </ul>

  </links>


</mdb-navbar>

<router-outlet></router-outlet>

