<header class="h-100">

  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Projekty które razem stworzymy, zaciekawią każdego</h2>
                    <h5>You must be the change you wish to see in the world.</h5>
                    <br>
                    <p class="MG">"Mahatma Ghandi"</p>
                    <br>
                    <button class="btn" routerLink="/about" type="button" mdbBtn color="primary" mdbWavesEffect >Zobacz co mamy dla ciebie</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- /.Main -->
</header>
<!--Main Layout-->

<!--Main Layout-->
