<div class="view intro jarallax"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed; height: 1200px;">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="MGAB h1  display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Projekty które razem stworzymy, zaciekawią każdego <a
                class="indigo-text font-bold"></a>

              </h2>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">You must be the change you wish to see in the world.</h5>
              <p class="MG">"Mahatma Ghandi"</p>
              <button class="btn animated bounce "   routerLink="/job" type="button" mdbBtn color="primary" mdbWavesEffect >Zobacz co mamy dla ciebie</button>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>
<div class="view intro jarallax"
     style="background-image: url(../../../../assets/img/przyszlosc.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
    <app-team></app-team>
  </div>
  <p>

</div>



<div class="view intro jarallax"
     style="background-image: url(../../../../assets/img/uslugi.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
    <app-job></app-job>
  </div>
  <p>
</div>

<div class="view intro jarallax"
     style="background-image: url(../../../../assets/img/contact.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
    <app-contact></app-contact>
  </div>
  <p>
</div>

