/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.job,
.kontakt,
.team {
  position: relative;

}



@media(max-width:800px) {

  /* podstrona job */
  div.job {
    display: block;
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 0;

  }


  h2.jobh2 {
    display: none;
  }

  p.job {
    display: none;
  }

  /* team */
  h3.hello {
    display: none;
  }

  .pTeam {
    display: none;
  }

  .teamP {
    display: none;
  }

  .pTT {
    display: none;
  }

  .p1 {
    position: relative;
    top: -100px;
  }


  img.imgTeam {
    position: relative;
    top: -100px;
    width: 40%;
  }

  div.mb-5 {
    display: block;
    width: 50%;

  }
}

@media (max-width:600px) {



  /* job */









  /* team */



  h2.my-5 {
    display: none;
  }

  div.mb-5 {
    display: block;
    width: 100%;

  }

  img.imgTeam {
    position: absolute;
    width: 25%;
    display: block;
    margin: 0 auto;
    top: 3%;
    left: 3%;
  }

  h5.mb-3 {
    text-align: center;
    top: 2%;
    position: relative;
    left: 5%;
  }

  div.hmr {
    display: none;
  }

  p.p1 {
    position: relative;
    top: 3%;
    left: 5%;
  }

  .kontakt {
    height: 500px;
  }

  div.job {
    position: relative;

  }
}
