<div class="container my-5 p-5 z-depth-1">

  <style>
    .w-200 {
      width: 200px;
    }
  </style>

  <!--Section: Content-->
  <section class="team-section text-center dark-grey-text">


    <!-- Section heading -->
    <h2 class="font-weight-bold text-center dark-grey-text pb-2">Zespół AGHD</h2>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="lead text-center text-muted pt-2 mb-5">
      Witaj, jesteśmy studentami 3 roku studiów informatycznych, zajmujemy się projektowaniem stron internetowych, baz
      danych oraz aplikacji webowych.
      AGHD powstało z myślą o profesjonalnych, płynnych, przejrzystych stronach i łatwych w obsłudze nawet dla admina
      laika, jednocześnie nie tracąc na designie.
      Tworzymy zarówno strony pełne animacji, kontrastów i wybuchów jak i strony proste, stonowane i poważne. Poznajmy
      się napisz do nas już dzisiaj ;)
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="crew">

        <div class="w-200 mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="pic" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Adrian Lewkowicz</h6>
        <small class="text-muted">Full Stack Developer</small>
        <p class="mt-3 mb-4 text-muted text">Zarządza grupą, rozdziela zadania, programuje logikę strony w technologiach
          ->
          .NET, BootStrap, AngularJS </p>
        <ul class="icon">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
          <li><i class="fab fa-linkedin-in mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="crew">

        <div class="w-200 mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="pic" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Hubert Cep</h6>
        <small class="text-muted">Tester</small>
        <p class="mt-3 mb-4 text-muted text">Opis strony, Mistrz CSS-a i HTML-a</p>
        <ul class="icon">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
          <li><i class="fab fa-linkedin-in mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="crew">

        <div class="w-200 mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="pic" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Grzegorze Gruszczyk</h6>
        <small class="text-muted">WordPress Developer</small>
        <p class="mt-3 mb-4 text-muted text">WordPress Designer, głowa pełna pomysłów, nieoszlifowany diament</p>
        <ul class="icon">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
          <li><i class="fab fa-linkedin-in mx-2"></i></li>
        </ul>

      </div>
      <div class="crew">

        <div class=" w-200 mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="pic" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Dominik Gendek</h6>
        <small class="text-muted">Grafik</small>
        <p class="mt-3 mb-4 text-muted text">Photoshop-master, dodaje "kolorów" naszym stronom internetowym </p>
        <ul class="icon">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
          <li><i class="fab fa-linkedin-in mx-2"></i></li>
