<!--Projects section v.4-->
<section class="text-center pb-3">

  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5">
    <strong>Usługi</strong>
  </h2>
  <!--Section description-->
  <p class="grey-text pb-5 text-center">
    Cały czas aktywnie rozpoznajemy i uczymy się nowych technologii. Zaczynając współpracę,
     uczymy się Twojego biznesu, Twoich potrzeb, poznajemy możliwości adaptacyjne Twojej organizacji.
      Gdy dochodzi do realizacji, wiemy, jak dobrać właściwe dla Ciebie rozwiązanie.
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-12 mb-4">
      <mdb-card style="background-image: url('../../assets/img/api5.jpg')">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">

            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Strony WWW</strong>
            </h3>
            <p class="pb-3">Wykonujemy strony na zlecenie, każda strona jest przygotowana pod klienta, dla kielnta
              Wykonujemy strony na zlecenie, każda strona jest przygotowana pod klienta, dla kielnta
              Wykonujemy strony na zlecenie, każda strona jest przygotowana pod klienta, dla kielnta
              Wykonujemy strony na zlecenie, każda strona jest przygotowana pod klienta, dla kielnta
              Wykonujemy strony na zlecenie, każda strona jest przygotowana pod klienta, dla kielnta
            </p>
            <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <mdb-card style="background-image: url('../../assets/img/api4.jpg')">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="pink-text">
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Aplikacje Webowe</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <mdb-card style="background-image: url('../../assets/img/api3.jpg')">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="green-text">
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Bazy Danych</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
