
<!--Projects section v.4-->
<section class="text-center pb-3">

  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5">
      <strong>Usługi</strong>
  </h2>
  <!--Section description-->
  <section class="grey-text text-center">
      Wykonujemy kompleksowe usługi w sferze stron internetowych. Sprawdź naszą ofertę i przekonaj się o naszym
      profesjonalnym podejściu sam! <br>
      <b>"Do wyboru do koloru"</b> - specjalizujemy się w wielu dziedzinach:

      <ul class="grey-text list r">
          <li>Web API</li>
          <li>Strony internetowe</li>
          <li>Bazy danych</li>
      </ul>

      <p class="">Jestś laikiem i nie wiesz jaka strona będzie odpowiednia dla twojej firmy? Nie jesteś pewien czy
          sprawdzisz się w
          roli admina? Przeszkolimy i pokażemy kilka projektów, którymi możesz się zainspirować!</p>
  </section>
  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
          <mdb-card style="background-image: url('../../assets/img/api5.jpg')">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                  <div>
                      <h6 class="purple-text">

                      </h6>
                      <h3 class="py-3 font-weight-bold">
                          <strong>Serwis internetowy, Sklepy internetowe, Landing page, Wizytówka firmowa </strong>
                      </h3>
                      <p class="pb-3">Wykonujemy wiele zleceń. Strony są responsywne, wyglądają dobrze na każdym
                          urządzeniu.
                          Wielopoziomowe menu, kilka wersji
                          językowych, wyszukiwarka, blog, aktualności, ankiety, formularze.
                          Każda strona jest przygotowana pod klienta, dla kielnta.
                          Dostosowujemy się pod każdym względem. <br><b>TY masz pomysł, my go realizujemy!</b><br>
                          Posługujemy się
                          technologiami
                          takimi jak: Bootstrap, WordPress, Angular 8, HTML5, CSS3


                      </p>
                      <h3> Zapraszamy do kontaku!</h3>
                      <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon> Kontakt</a>
                  </div>
              </div>
          </mdb-card>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
          <mdb-card style="background-image: url('../../assets/img/api4.jpg')">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                  <div>
                      <h6 class="pink-text">
                      </h6>
                      <h3 class="py-3 font-weight-bold">
                          <strong>Aplikacje Webowe</strong>

                      </h3>
                      <p class="pb-3">
                          Wykonujemy Web API ułatwiające użytkownikom posługiwanie się stroną. Poznasz jak w łatwy
                          sposób zarządzać
                          treścią na stronie i nie tylko.

                      </p>
                      <h3>Napisz do nas!</h3>
                      <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon> Kontakt</a>
                  </div>
              </div>
          </mdb-card>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
          <mdb-card style="background-image: url('../../assets/img/api3.jpg')">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                  <div>
                      <h6 class="green-text">
                      </h6>
                      <h3 class="py-3 font-weight-bold">
                          <strong>Bazy Danych</strong>
                      </h3>
                      <p class="pb-3">
                          Każda ze stron stworzonych przez nas posiada własną bazę dancyh MSSQL. Zapisuj, wczytuj
                          dane, zaloguj się
                          lub wyloguj. Na potrzebę klienta tworzymy system zarządzania danymi.
                      </p>
                      <h3>Zacznijmy współpracę!</h3>

                      <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>

            <mdb-icon far icon="clone" class="left"></mdb-icon>Kontakt</a>
                  </div>
              </div>
          </mdb-card>
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
