<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <div class="row">
    <div class="col">
      <h2 class="h1-responsive font-weight-bold my-5 text-white">Drużyna</h2>
    </div>
    <div class="col-12">
      <div class="hmr">
        <p class="pTeam" > Witaj, jesteśmy studentami 3 roku studiów informatycznych, zajmujemy się projektowaniem stron internetowych, baz
          danych oraz aplikacji webowych.
          AGHD powstało z myślą o profesjonalnych, płynnych, przejrzystych stronach i łatwych w obsłudze nawet dla admina
          laika, jednocześnie nie tracąc na designie.
          Tworzymy zarówno strony pełne animacji, kontrastów i wybuchów jak i strony proste, stonowane i poważne. Poznajmy
          się napisz do nas już dzisiaj ;)
        </p>
      </div>
    </div>
  </div>

  <!-- Section description -->


<br><br>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3 text-white">Adrian Lewkowicz</h5>
      <p class="text-uppercase  text-white"><strong>FullStack Developer</strong></p>
      <p class="text-white font-weight-bold">Zarządza grupą, rozdziela zadania, programuje logikę strony w technologiach
        ->
        .NET, BootStrap, AngularJS
       </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3 text-white font-weight-bold">Grzegorz Gruszczyk</h5>
      <p class="text-uppercase text-white "><strong>WordPress Developer</strong></p>
      <p class="text-white font-weight-bold">WordPress Designer, głowa pełna pomysłów, nieoszlifowany diament</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3 text-white font-weight-bold">Dominik Gendek</h5>
      <p class="text-uppercase text-white"><strong>Grafik</strong></p>
      <p class="text-uppercase text-white font-weight-bold">Photoshop-master, dodaje "kolorów" naszym stronom internetowym </p>
      </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>

      <h5 class="font-weight-bold mt-4 mb-3 text-white font-weight-bold">Tom Adams</h5>
      <p class="text-uppercase text-white font-weight-bold"><strong>Backend developer</strong></p>
      <p class="text-white font-weight-bold">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam officia voluptates perferendis voluptatibus aut.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
